<h1>i am index</h1>

<ul>
  <% @tasks.each do |task| %>
  <li>
    <% if task.completed == true %>
      <input type="checkbox" checked> <%= task.title %>
    <% else %>
          <input type="checkbox"> <%= task.title %>
    <% end %>
  </li>
  <% end %>
</ul>
