<h1>i am index</h1>

<ul>
  <% @tasks.each do |task| %>
  <li>
    <% if task.completed == true %>
      <input type="checkbox" checked> <%= link_to task.title, task_path(task) %>
    <% else %>
          <input type="checkbox"> <%= link_to task.title, task_path(task) %>
    <% end %>
  </li>
  <% end %>
</ul>

<%= link_to 'Add new task', tasks_new_path %>
